# Porta do servidor de desenvolvimento
PORT=3001

# Google Service Account Credentials
# Obtenha essas credenciais no Google Cloud Console
GOOGLE_SA_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_SA_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"

# Opcional: API Key para proteção adicional (se necessário)
# API_KEY=your-secret-api-key
